.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

form {
  width: 50%; /* Ajusta el ancho del formulario */
  max-width: 400px;
  min-width: 300px;
}

#card-element {
  margin-bottom: 20px;
}
